body{
	margin: 0px;
	padding: 0px;
}
	
.shape{
	position: fixed;
	background-color: black;
	
	clip-path: polygon(0% 1%, 0% 100%, 100% 99%, 100% 0%);	
	height: 500px;
	width: 750px;
	margin: 0;
	padding: 0;


}
.lft_top{
	background-color: yellow;
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
	height: 200px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: blue;
	font-size: 25px;
	
}


.lft_btm{
	background-color: yellow;
	bottom:0;
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
	height: 180px;
	border-radius: 0px 25px 0px 0px;


	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 280px;
	color: blue;
	font-size: 25px;
	

}
.rt_btm{
	position: absolute;
	background-color: yellow;
	clip-path: ellipse(76% 54% at 81% 86%);

	bottom: 0;
	right: 0;
	height: 290px;
	width: 320px;

	display: flex;
	justify-content: center;
	align-items: center;
	color: blue;
	font-size: 25px;

}


.rt_top{
	background-color: yellow;

	clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
	
	height: 200px;
	position: absolute;
	width: 350px;
	top: 0;
	right: 0;


	display: flex;
	justify-content: center;
	align-items: center;

	color: blue;
	font-size: 25px;
	
}