body{
    background-image:url('../img/background.jpg');
    background-size: cover;
	background-position: center;
}


.slots{
  top: 30%;
  left: 20%;
}

button{
    position: relative;
    width: 10%;
    height: 10%;
    margin-left: 60px;
    margin-right: 30px;
    background-color: chartreuse;
}

button#2{
    background-color: crimson;
}